*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.4s;
}

.btn:hover {
    background: #564343;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
    margin-top: 20px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.raw-col-8 {
    flex-basis: 50%;
    padding: 10px;
    min-width: 400px;
    margin-bottom: 20px;
}

.raw-col-8 p {
    font-size: 14px;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

/* ---------- offer ----------- */

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/* ---------- testimonial ----------- */

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa .fa-quote-left {
    font-size: 32px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* ---------- brands ----------- */

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/* ---------- footer ----------- */

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* ---------- media query for menu ----------- */

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        display: flex;
    }
}

.frete-class {
    max-width: 350px;
    flex-wrap: wrap;
}

.total-price-class {
    flex-wrap: wrap;
}

.checkout-btn {
    float: right;
    width: 100%;
    max-width: 440px;
    text-align: center;
}

@media only screen and (max-width: 930px) {
    .frete-class {
        margin: 0 auto;
        min-width: 60%;
        flex-wrap: wrap;
    }

    .total-price-class {
        margin: 0 auto;
        min-width: 60%;
    }

    .checkout-btn {
        margin: 25px auto;
        min-width: 100%;
    }
}

/* ---------- media query for less than 600 screen size ----------- */

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2, .col-2, .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    
    .cart-info p {
        display: none;
    }
}

/* ------------------ all procuts page ---------------------- */

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

/* ------------ SINGLE PRODUCT DETAILS ------------- */


.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

.input:focus {
    outline: none;
}

.single-product .fa {
    color:  #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.small-img {
    min-width: 113px;
    min-height: 113px;
    max-width: 113px;
    max-height: 113px;
    object-fit: cover;
}

.bank-img {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
}

.big-img {
    min-height: 320px;
    object-fit: cover;
}

.featured-img {
    min-width: 480px;
    min-height: 630px;
    max-width: 480px;
    max-height: 630px;
    object-fit: cover;
}

/* ------------ CART ITEMS ------------- */

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 440px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/* ------------ ACCOUNT-PAGE ------------- */

.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* ------------ LOGIN-PAGE ------------- */

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 0.8s;
}

.form-btn {
    display: inline-block;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form a {
    font-size: 12px;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus {
    outline: none;
}

#LoginForm {
    margin-top: -30px;
}

#Indicator-register {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 0.8s;
}

#Indicator-login {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(0px);
    transition: transform 0.8s;
}

.form img {
    padding: 0;
}

.login-facebook-button {
    margin-top: 1.5em;
    transition: transform 0.25s ease-out;
}

.login-google-button {
    transition: transform 0.25s ease-out;
}

.login-facebook-button:hover,
.login-google-button:hover {
    -webkit-filter: brightness(103%);
    filter: brightness(103%);
    transform: translateY(-1px);
}

/* ------------ ACCOUNT-PAGE ------------- */

.col-12 {
    flex-basis: 100%;
    padding: 10px;
    min-width: 144px;
    transition: transform 0.5s;
}

.bordered-align-left {
    width: 35%;
}

.bordered {
    display: flex;
}

.minimal-container {
    max-width: 860px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.bordered-line-top {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bordered-line {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-top: 1px solid #fff;
}

.bordered-line-bottom {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}

.bordered-line-both {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}

.bordered h2 {
    color: rgb(81, 81, 81);
    font-size: 17px;
    font-weight: 500;
}

.bordered-border-bottom {
    border-bottom: 1px solid #fff;
}

.bordered-border-top {
    border-top: 1px solid #fff;
}

.bordered-content {
    padding: 6px;
}

.row-account {
    justify-content: space-between;
    margin: 60px auto 30px;
}

.row-account-img {
    justify-content: space-between;
    margin: 35px auto 5px;
}

.row-account-continous {
    justify-content: space-between;
    margin: 35px auto 30px;
}

.bordered-data h2 {
    padding: 6px;
    color: rgb(140, 140, 140);
    font-size: 16px;
    font-weight: 400;
}

.bordered-data-address h2 {
    padding: 1px;
    color: rgb(140, 140, 140);
    font-size: 16px;
    font-weight: 400;
}

.small-user-img {
    border-radius: 50%;
    flex-basis: 24%;
    cursor: pointer;
}

.user-img img {
    border-radius: 50%;
    border: 3px solid #8256e8;
    align-self: center;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    margin: auto;
    filter: drop-shadow(-3px 3px 4px #000000);
}

.form-message {
    max-width: 300px;
    margin: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.pointered {
    cursor: pointer;
}

.default-cursor {
    cursor: default;
}

.editable {
    margin-left: auto;
    content: ">";
    padding: 7px 8px 0px 0px;
    color: rgb(100, 100, 100);
    font-size: 18px;
    font-weight: 400;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.bg-modalbg {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 101;
    display: none;
}

.modal-container {
    width: 450px;
    height: 190px;
    margin: 20px auto 0;
    background: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    transition: all .5s;
}

.modal-container-address {
    width: 450px;
    height: 458px;
    margin: 20px auto 0;
    background: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    transition: all .5s;
}

.address-label {
    position: absolute;
    left: 0px;
    font-size: 14px;
    margin: 2px 22px;
}

.show-modal {
    display: flex;
}

.closebutton {
    position: absolute;
    top: 0px;
    right: 8px;
    font-size: 26px;
    transform: rotate(45deg);
    cursor: pointer;
}

.alter-input {
    display: block;
    width: 100%;
    padding: 8px 16px;
    margin-top: 24px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #99A3BA;
    border: 1px solid #CDD9ED;
    background: #FFFFFF;
    transition: border .3s ease;
}

.modal-text {
    color: rgb(81, 81, 81);
    font-size: 26px;
    font-weight: 500;
}

.modal-button {
    border: none;
    color: white;
    margin: auto 0;
    padding: 12px 12px;
    width: 49%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.cancel-button {
    background-color: rgb(170, 170, 170);
}

.save-button {
    background-color: rgb(255, 83, 59);
}

.modal-options-buttons {
    margin-top: 10px;
}

input[type="file"] {
    cursor: pointer;
    border: 0;
    margin-top: 24px;
}

.exclude-product-icon {
    display: none;
    width: 45px;
    height: 45px;
    position: absolute;
    margin-top: -30px;
    margin-left: 75px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    /* max-width: 80%; */
    max-width: 475px !important;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.custom-button-2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #f1e5e6;
    background-color: rgb(255, 83, 59);
    width: 100% !important;
    max-width: 475px !important;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: rgb(255, 83, 59);
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: rgb(255, 83, 59);
}

.select-address-block-display {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.select-address-row {
    display: flex;
    justify-content: center;
}

.select-address-row label {
    margin-top: 32px;
    margin-right: 10px;
}

.auto-margin {
    margin: auto;
}
