[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
bind-address = 0.0.0.0
innodb_buffer_pool_size = 1G
thread_cache_size = 8
innodb_lock_wait_timeout = 100
innodb_log_file_size = 1000M
key_buffer_size = 256M
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
default-authentication-plugin=mysql_native_password
sql_mode=""
